
.thumbnail{
  width: 100%;
  height: 140px;
}
.title{
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}
.viewcount{
  font-size: 15px;
  margin-left: 10px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  height: 200px;  

}


.grid-container > div {
  background-color: white;
  border: 1px solid black;
  font-size: 30px;
  line-height: 8px;
}

  /* Page content */
  #main {
    margin-left: 50px; /* Same as the width of the sidenav */
  }
  
#main #title{
  color: rgb(207, 1, 1);
}

.clickableDiv{
  width:300px;
}

#nav-placeholder{
  height: 100%;
}