/* Page content */
#main {
    margin-left: 50px; /* Same as the width of the sidenav */
}

.videogrid{
    width: 30%; 
    border: 1px solid red;
    height: 120px;
    margin-bottom: 30px;
    position: relative;
    background-color: white;
}

.videogrid:hover{
  background-color: whitesmoke;
}

.thumbnail{
  width: 40%;
  height: 100%;
  float: left;
  margin-right: 10px;
}
.title{
  font-size: 15px;
  margin-left:10px;
  font-weight: bold;
}
.viewcount{
  font-size: 15px;
  margin-left: 10px;
}

.lengthdiv{
    background-color: black;
    width: auto;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 200px;
    bottom: 10px;
}
.lengthspan{
    color: white;
    font-size: small;
    text-align: center;
}