#frame_div{
    position: relative;
    left: 100px;
}

#suggested_div{
    float: right;
    position: relative;
    top: -400px;
}

#nav-placeholder{
    height: 100%;
  }

  #closed{
    height: 100%;
  }